* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    cursor: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    padding: 5px;
    color: rgb(255,255,220);
    background: #000000;
    font-family: Arial;
    overflow: hidden;
}

#game {
    display: inline-block;
    position: relative;
}

#canvas {
    border: solid 1px gray;
}

.label {
    position: absolute;
    display: inline-block;
    z-index: 10;
    padding: 0.2em;
    border-radius: 0.3em;
    background: rgba(0,0,0,0.3);
}

.label img {
    width: 15px;
}

#level-wrapper {
    position: absolute;
    text-align: center;
    width: 30%;
    top: 0.1em;
    left: 35%;
}
#level {
    position: relative;
}

#score {
    top: 0.1em;
    left: 0.1em;
}

#lifes {
    top: 0.1em;
    right: 0.1em;
}

#timer-wrapper {
    position: absolute;
    text-align: center;
    width: 50%;
    bottom: 0.5em;
    left: 25%;
    visibility:hidden;
    overflow:hidden;
    max-height:0;
    opacity:0;
    transition:opacity .2s ease-in,max-height .4s ease-in
}
#timer {
    position: relative;
}

#scoreboard {
    font-weight: bold;
    position: absolute;
    background: rgba(0,0,0,0.3);
    border-radius: 0.3em;
    visibility:hidden;
    overflow:hidden;
    max-height:0;
    opacity:0;
    transition:opacity .2s ease-in,max-height .4s ease-in
}

#scoreboard.opened, #timer-wrapper.opened {
    opacity: 1;
    visibility: visible;
    max-height: 1000px
}

/* webxdc-scores.js styles */

.score-row {
    text-align: left;
    padding: 5px 10px;
    margin: 1% 6%;
    border-radius: 0.3em;
}

.score-row.you {
    color: #222;
    background: rgb(255,255,220);
}

.row-pos {
    float: left;
    color: #595959;
}

.row-score {
    float: right;
    display: inline-block;
}

.row-name {
    text-overflow: ellipsis;
    display: inline-block;
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
}
